<f:section name="FooterAssets">

   	<script src="{f:uri.resource(path: 'JavaScript/Src/lss.js')}"></script>
	   
</f:section>
<f:form.button class="ublesesaal-picker-box" id="1">Lesesaal 1</f:form.button>
<f:form.button class="ublesesaal-picker-box" id="2">Lesesaal 2</f:form.button>
<f:form.button class="ublesesaal-picker-box" id="3">Lesesaal 3</f:form.button>
<f:form.button class="ublesesaal-picker-box" id="4">Erdgeschoss / Freihandmagazin</f:form.button>

<h2 style="margin:2em 0;" id="ublesesaal-lesesaal-titel"></h2>  

<div class="grid">
	<div class="grid__column grid__column--xl-6" data-teaser-row="1" data-tiles-row="2">
		<f:image src="EXT:ubbs_lesesaalsystematik/Resources/Public/Images/Lesesaal_1.png" class="ublesesaal-lesesaal-image" id="ublesesaal-lesaal-image-1" alt="alt text"/>
		<f:image src="EXT:ubbs_lesesaalsystematik/Resources/Public/Images/Lesesaal_2.png" class="ublesesaal-lesesaal-image" id="ublesesaal-lesaal-image-2" alt="alt text"/>
		<f:image src="EXT:ubbs_lesesaalsystematik/Resources/Public/Images/Lesesaal_3.png" class="ublesesaal-lesesaal-image" id="ublesesaal-lesaal-image-3" alt="alt text"/>
		<f:image src="EXT:ubbs_lesesaalsystematik/Resources/Public/Images/Lesesaal_4.png" class="ublesesaal-lesesaal-image" id="ublesesaal-lesaal-image-4" alt="alt text"/>
		<f:image src="EXT:ubbs_lesesaalsystematik/Resources/Public/Images/Leseaal_Lehrbuchsammlung.png" class="ublesesaal-lesesaal-image" id="ublesesaal-lesaal-image-5" alt="alt text"/>
	</div>
	<div class="grid__column grid__column--xl-6" data-teaser-row="1" data-tiles-row="2">

			<div class="ublesesaal-wrapper" id="ubwrap_1">
				<f:for each="{ls1}" as="ls1">
					<div data-accordion-group="" role="tablist" aria-multiselectable="true">
						<div class="accordion" data-accordion="">
							
								<a style="cursor:pointer;width:100%;display:block" class="accordion__header systemstellen" id="{ls1.fgid}" data-control="" role="tab" aria-controls="collapse" aria-expanded="false">
									{ls1.fgkurz}&nbsp;{ls1.fglang}</a>
									<div data-accordion-group="" role="tablist" aria-multiselectable="true">
										<div class="accordion teilgebiete" data-accordion="" id="teilgebietefuer{ls1.fgid}"></div>
									</div>					
								
						</div>
					</div>
				</f:for>
			</div>	

			<div class="ublesesaal-wrapper" id="ubwrap_2">
					<f:for each="{ls2}" as="ls2">
						<div data-accordion-group="" role="tablist" aria-multiselectable="true">
							<div class="accordion" data-accordion="">
								
									<a style="cursor:pointer;width:100%;display:block" class="accordion__header systemstellen" id="{ls2.fgid}" data-control="" role="tab" aria-controls="collapse" aria-expanded="false">
										{ls2.fgkurz}&nbsp;{ls2.fglang}</a>
										<div data-accordion-group="" role="tablist" aria-multiselectable="true">
											<div class="accordion teilgebiete" data-accordion="" id="teilgebietefuer{ls2.fgid}"></div>
										</div>					
									
							</div>
						</div>
					</f:for>
			</div>	

			<div class="ublesesaal-wrapper" id="ubwrap_3">
					<f:for each="{ls3}" as="ls3">
						<div data-accordion-group="" role="tablist" aria-multiselectable="true">
							<div class="accordion" data-accordion="">
								
									<a style="cursor:pointer;width:100%;display:block" class="accordion__header systemstellen" id="{ls3.fgid}" data-control="" role="tab" aria-controls="collapse" aria-expanded="false">
										{ls3.fgkurz}&nbsp;{ls3.fglang}</a>
										<div data-accordion-group="" role="tablist" aria-multiselectable="true">
											<div class="accordion teilgebiete" data-accordion="" id="teilgebietefuer{ls3.fgid}"></div>
										</div>					
									
							</div>
						</div>
					</f:for>
			</div>
			
			<div class="ublesesaal-wrapper" id="ubwrap_4">
					<f:for each="{ls4}" as="ls4">
						<div data-accordion-group="" role="tablist" aria-multiselectable="true">
							<div class="accordion" data-accordion="">
								
									<a style="cursor:pointer;width:100%;display:block"" class="accordion__header systemstellen" id="{ls4.fgid}" data-control="" role="tab" aria-controls="collapse" aria-expanded="false">
										{ls4.fgkurz}&nbsp;{ls4.fglang}</a>
										<div data-accordion-group="" role="tablist" aria-multiselectable="true">
											<div class="accordion teilgebiete" data-accordion="" id="teilgebietefuer{ls4.fgid}"></div>
										</div>					
									
							</div>
						</div>
					</f:for>
			</div>
	</div>		

</div>
